html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  background: white;
  position: relative;
  margin-bottom: 200px;
  padding: 4rem;
}

.diagonalWhite {
  position: absolute;
  background: rgb(42, 171, 240);
  background: linear-gradient(
    0deg,
    rgb(26, 138, 199) 0%,
    rgb(33, 171, 196) 48%,
    rgb(27, 140, 201) 99%
  );
  width: 100%;
  height: 100%;
  top: -35%;
  right: 5%;
  transform: rotate(-13deg) scale(1.4);
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.content {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  background-color: white;
  padding: 2.5rem;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 500px;
}

#hunter {
  height: 800px;
  max-width: 750px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

h1 {
  font-size: 4rem;
  font-family: "Playfair Display";
  font-weight: 100;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-family: "Playfair Display";
  font-weight: 100;
  margin: 0;
}

h1.name {
  position: absolute;
  z-index: 3;
  color: white;
  font-size: 6rem;
  top: 10px;
  left: 140px;
  text-shadow: 2px 2px 12px #000000;
}

.info {
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.692);
  max-width: 850px;
  line-height: 45px;
  margin: 0;
  margin-bottom: 2.5rem;
}

.svgs {
  align-self: flex-end;
  display: flex;
  gap: 2rem;
}

.svgButton {
  border: none;
  background-color: white;
  transition: transform 0.2s ease-in;
}

.svgButton:hover {
  transform: scale(1.2);
  cursor: pointer;
}

main {
  padding: 6rem;
}

.projects {
  display: grid;
  gap: 2rem;
}

.projectCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 4rem;
}

.projectCard {
  display: grid;
  grid-template-rows: 1fr 1fr;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in;
}

.projectCard:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.projectInfo {
  padding: 2.5rem;

  display: grid;
  gap: 2rem;
}

.projectPic {
  height: 100%;
  max-width: 100%;
}

.desc {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.692);
  max-width: 850px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 2.5rem;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.svgsProject {
  align-self: center;
  display: flex;
  gap: 1rem;
}

.svgButton2 > svg {
  width: 30px;
}

footer {
  background: rgb(42, 171, 240);
  background: linear-gradient(
    0deg,
    rgb(26, 138, 199) 0%,
    rgb(27, 140, 201) 99%
  );
  padding: 6rem;
  display: flex;
  justify-content: space-around;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: white;
}

.footerTop {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.contact {
  font-size: 1.8rem;

  margin: 0;
}

.numberMail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.number {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.number > svg {
  fill: white;
}

.svgsFooter {
  display: flex;
  gap: 2rem;
}

.svgButtonFooter {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  transition: transform 0.2s ease-in;
}

.svgButtonFooter:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.footerRight > img {
  max-height: 650px;
}

svg {
  width: 50px;
  height: auto;
}

@media (max-width: 1200px) {
  header {
    padding: 6rem;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .content {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  }

  .picName {
    padding: 2rem;
  }

  .about {
    box-shadow: none;
    min-width: 0;
  }

  .about > h1 {
    text-align: center;
  }

  #hunter {
    position: relative;
    height: 500px;
  }

  div.about > div.svgs {
    display: none;
  }

  div.about > p.info {
    text-align: justify;
  }

  h1.name {
    left: 0px;
    top: -150px;
    text-shadow: 2px 2px 6px #00000093;
    width: 525px;
  }

  .info {
    font-size: 1.1rem;
    line-height: 30px;
  }

  main {
    padding: 8rem;
    padding-top: 4rem;
  }

  .projects {
    margin-top: 4rem;
  }

  .projectCards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .projectCard {
    max-height: 600px;
  }

  .projectInfo {
    padding: 1.5rem;
    overflow-y: scroll;
  }

  .desc {
    margin-bottom: 0;
  }

  .projectPic {
    height: 300px;
    width: 100%;
  }

  footer {
    gap: 2rem;
    padding: 4rem;
  }

  .footerLeft {
    padding: 0rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footerRight {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footerRight > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 500px;
  }
}

@media (max-width: 600px) {
  header {
    position: relative;
    padding: 1rem;
    background: none;
    margin-bottom: 0;
  }

  .diagonalWhite {
    position: absolute;
    background: rgb(42, 171, 240);
    background: linear-gradient(
      0deg,
      rgb(26, 138, 199) 0%,
      rgb(33, 171, 196) 48%,
      rgb(27, 140, 201) 99%
    );
    width: 300%;
    height: 50%;
    top: 0%;
    right: -100px;
    transform: rotate(-25deg) scale(1.1);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
  }

  .content {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #00000000;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .about {
    background-color: rgba(255, 255, 255, 0);
    padding: 1rem;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 0px;
    text-align: center;
  }

  .picName {
    height: 95%;
    width: 90%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    z-index: 3;
    position: relative;
    bottom: 0;
    margin: 0 auto;
    padding: 0;
  }

  #hunter {
    height: 100%;
    width: 100%;
    bottom: 0;
  }

  h1 {
    font-size: 3rem;
    font-family: "Playfair Display";
    font-weight: 100;
    margin: 0;
  }

  h2 {
    font-size: 1rem;
    font-family: "Playfair Display";
    font-weight: 100;
    margin: 0;
  }

  h1.name {
    position: absolute;
    z-index: 3;
    color: white;
    font-size: 3.5rem;
    top: auto;
    bottom: 0;
    left: 0;
    text-shadow: 2px 2px 12px #000000;
    width: 500px;
  }

  .info {
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.692);
    max-width: 850px;
    line-height: 35px;
    margin: 0;
    margin-bottom: 0rem;
  }

  div.about > div.svgs {
    align-self: center;
    display: flex;
    gap: 2rem;
  }

  .svgButton {
    border: none;
    background-color: white;
    transition: transform 0.2s ease-in;
  }

  .svgButton:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  main {
    padding: 2rem;
  }

  div.projects > h1 {
    text-align: center;
  }
  .projects {
    display: grid;
    gap: 2rem;
    margin-top: 2rem;
  }

  .projectCards {
    display: grid;
    grid-template-rows: 1fr;
    gap: 4rem;
    align-items: center;
    justify-content: center;
  }

  .projectCard {
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in;
  }

  .projectCard:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .projectInfo {
    padding: 2.5rem;

    display: grid;
    gap: 2rem;
  }

  .projectPic {
    height: 100%;
    max-width: 100%;
  }

  .desc {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.692);
    max-width: 850px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 2.5rem;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .svgsProject {
    align-self: center;
    display: flex;
    gap: 1rem;
  }

  .svgButton2 > svg {
    width: 30px;
  }

  footer {
    background: rgb(42, 171, 240);
    background: linear-gradient(
      0deg,
      rgb(26, 138, 199) 0%,
      rgb(27, 140, 201) 99%
    );
    padding: 0rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .footerLeft {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    color: white;
    padding: 3rem;
  }

  .footerTop {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .contact {
    font-size: 1.8rem;

    margin: 0;
  }

  .numberMail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .number {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  .number > svg {
    fill: white;
  }

  .svgsFooter {
    display: flex;
    gap: 2rem;
  }

  .svgButtonFooter {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    transition: transform 0.2s ease-in;
  }

  .svgButtonFooter:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  .footerRight {
    padding: 0;
    width: 100%;
  }

  .footerRight > img {
    height: 100%;
    width: 100%;
  }

  svg {
    width: 50px;
    height: auto;
  }
}
